@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #E3F8F6;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
    font-family: "Winky Sans";
}

h1 {
    font-size: 550%;
    color: #66BFBF;
}

h2 {
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3,
a {
    color: #11999E;
}


.top-cloud {
    position: relative;
    width: 250px;
    height: 50px;
}

.bottom-cloud {
    display: block;
    position: relative;
    left: 400px;
    width: 250px;
    height: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.chillies {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.avatar {
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    color: grey;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
}

.btn {
    background-color: #12A5AB;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 24px;
}

.bottom-container {
    margin-top: 50px;
    padding: 25px;
    background-color: #11999E;
    color: white;
}

.bottom-container a {
    color: white;
}

.contact-me p {
    margin-bottom: 50px;
}